<div class="card">
    <div class="card-header">
        {{isEditMode?'Update Hotel':'Create Hotel'}}
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="form-group row">
                        <label for="Name" class="control-label col-md-3">Hotel Name
                            <span style="color:#dc3545;">*</span>
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="Name" name="Name" #Name="ngModel"
                                [(ngModel)]="hotel.Name" placeholder="Hotel Name" required>
                            <span *ngIf="Name.invalid &&form.submitted" style="color:#dc3545;">
                                Hotel Name is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="LocationId" class="control-label col-md-3">Location</label>
                        <div class="col-md-9">
                            <select id="LocationId" #LocationId="ngModel" name="LocationId" [(ngModel)]="hotel.LocationId"
                                class="form-control">
                                <option disabled="disabled" [value]="null">Select Location</option>
                                <option *ngFor="let item of locationList" [value]="item.Id">
                                    <b>{{item.Name}}</b>,{{item.SubName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Rating" class="control-label col-md-3">Rating <span
                                style="color:#dc3545;">*</span></label>
                        <div class="col-md-9">
                            <select id="Rating" #Rating="ngModel" name="Rating"
                                [(ngModel)]="hotel.Rating" class="form-control" required>
                                <option disabled="disabled" [value]="null">Select Rating</option>
                                <option *ngFor="let rating of ratingList" [value]="rating">
                                    {{rating}}
                                </option>
                            </select>
                            <span *ngIf="Rating.invalid &&form.submitted" style="color:#dc3545;">
                                Hotel Rating is required.
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <button type="submit" class="btn m-1 btn-sm btn-info">
                                {{isEditMode?'Update':'Save'}}
                            </button>
                            <button type="button" class="btn m-1 btn-sm btn-secondary"
                                (click)="reset(form)">Reset</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
        <br>
        <hr>
        <br>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered border-secondary table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Hotel Name</th>
                                <th>Location</th>
                                <th>Rating</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of hotelList; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.Name}}</td>
                                <td>{{item.Location.Name}}</td>
                                <td>{{item.Rating}}</td>
                                <td>
                                    <a style="cursor: pointer;" (click)="onUpdate(item)"> <span
                                            class="badge bg-primary">Edit</span> </a>
                                    &nbsp;
                                    <a style="cursor: pointer;" (click)="onDelete(item)"><span
                                            class="badge bg-danger">Delete</span> </a>
                                </td>
                            </tr>
                            <tr *ngIf="!hotelList" class="text-center">
                                <td colspan="5">
                                    <h6>Loading data...</h6>
                                </td>
                            </tr>
                            <tr *ngIf="hotelList && hotelList.length==0" class="text-center">
                                <td colspan="5">
                                    <h6>There are no record</h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>