<div class="card">
    <div class="card-header">
        Hotel Show Case
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">

                <div class="form-group row">
                    <label for="Location" class="control-label col-md-4">Location</label>
                    <div class="col-md-8">
                        <select id="Location" #Location="ngModel" name="Location" [(ngModel)]="searchModel.LocationId"
                            class="form-control">
                            <option disabled="disabled" [value]="null">Select Location</option>
                            <option *ngFor="let item of locationList" [value]="item.Id">
                                <b>{{item.Name}}</b>,{{item.SubName}}
                            </option>
                        </select>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="HotelId" class="control-label col-md-4">Hotel ID</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="HotelId" name="HotelId" #HotelId="ngModel"
                            [(ngModel)]="searchModel.HotelId" placeholder="Hotel ID">
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="HotelName" class="control-label col-md-4">Hotel Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="HotelName" name="HotelName" #HotelName="ngModel"
                            [(ngModel)]="searchModel.HotelName" placeholder="Hotel Name">
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="StartRating" class="control-label col-md-4">From Rating</label>
                    <div class="col-md-8">
                        <select id="Location" #Location="ngModel" name="Location" [(ngModel)]="searchModel.StartRating"
                            class="form-control">
                            <option disabled="disabled" [value]="null">Select Rating</option>
                            <option *ngFor="let rating of ratingList" [value]="rating">
                                {{rating}}
                            </option>
                        </select>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="EndRating" class="control-label col-md-4">To Rating</label>
                    <div class="col-md-8">
                        <select id="Location" #Location="ngModel" name="Location" [(ngModel)]="searchModel.EndRating"
                            class="form-control">
                            <option disabled="disabled" [value]="null">Select Rating</option>
                            <option *ngFor="let rating of ratingList" [value]="rating">
                                {{rating}}
                            </option>
                        </select>
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <button type="button" class="btn m-1 btn-sm btn-info" (click)="loadHotel()">
                            Search
                        </button>
                        <button type="button" class="btn m-1 btn-sm btn-secondary" (click)="reset()">Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3" *ngFor="let hotel of hotelList">

                        <a style="cursor:pointer" (click)="HotelDetail(hotel.Id)">
                            <div class="card">
                                <img src="../../../../assets/img/hotel.jpg" height="100" width="120" alt="Hotel Logo">
                                <p>{{hotel.Name}}</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>