<div class="row">

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <div class="card login-form login-page-content" style="max-width: 450px;">

            <div class="card-body">
                <div *ngIf="sessionMsg!=''" class="alert alert-danger" role="alert">
                    {{sessionMsg}}
                </div>

                <form (ngSubmit)="NewLogin(form)" #form="ngForm">
                    <div class="form-group row">
                        <input type="text" class="form-control" id="UserName" [(ngModel)]="user.UserName"
                            name="UserName" #UserName="ngModel" placeholder="User Name" required />
                        <span *ngIf="UserName.invalid && form.submitted" style="color:#dc3545;">
                            User Name is required.
                        </span>
                    </div>
                    <div class="form-group row">
                        <input type="password" class="form-control" id="txtPassword" [(ngModel)]="user.Password"
                            name="Password" #Password="ngModel" placeholder="Password" required />
                        <span *ngIf="Password.invalid && form.submitted" style="color:#dc3545;">
                            Password is required.
                        </span>
                    </div>

                    <div class="form-group row">
                        <input type="submit" class="btn btn-sm btn-primary btn-block" id="btnLogin" value="Login" />
                    </div>
                </form>
                <p>Demo Admin User: system_user, Password: 1234 </p>
                <hr>
                <p>Demo Customer User: customer_user_1, Password: 1234 </p>
                <p>Demo Customer User: customer_user_2, Password: 1234 </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>


</div>