.header {
    height: 86px;
    position: relative;
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
    width: 100%;
    display: table;
}
.header-image {
    margin: 2px 0px 2px 2px;
    max-width: 250px;
    height:60px;
    float: center;

}

.login-page-content {
    margin-top: 25%;
    background-color: #fff;
    padding: 10px 10px 30px 10px;
    border-radius: 0px;
    background: linear-gradient(315deg, #e6e6e6, #ffffff);
    box-shadow: -5px 0px 10px #bababa, 0px 5px 10px #bababa;
}

/* .login-content {
    font-size: small;
   }

.login-form {
   font-size: small;
} */

@media (max-width: 767px) { 
    .login-content{
        display: none;
    }
 }

 /* .middle-content{
    position: absolute;
    top: 35%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
} */