<div class="card">
    <div class="card-header">

        <ng-container *ngIf="userData!=null; else login">
            <a (click)="Logout()" style="cursor: pointer;float: right;">
                <span class="badge bg-secondary">Logout</span>
            </a>
        </ng-container>
        <ng-template #login>
            <a (click)="Login()" style="cursor: pointer;float: right;">
                <span class="badge bg-secondary">Login</span>
            </a>
        </ng-template>
    </div>
    <div class="card-body">
        <div *ngIf="sessionMsg!=''" class="alert alert-danger" role="alert">
            {{sessionMsg}}
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
