<div class="card">
    <div class="card-header">
        <a (click)="Logout()" style="cursor: pointer;float: right;">
            <span class="badge bg-secondary">Logout</span>
        </a>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>
