<div class="card">
    <div class="card-header">
        Hotel Show Case
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="card" *ngIf="hotelDetail!=undefined">
                        <img src="../../../../assets/img/hotel.jpg" height="100" width="120" alt="Hotel Logo">
                        <p>{{hotelDetail.Name}}</p>
                        <p>{{hotelDetail.Location?hotelDetail.Location.Name:'Unknown Location'}}</p>
                        <p>{{hotelDetail.Rating}} Stars</p>
                    </div>

                </div>
                <div class="row">
                    <h6>Comments</h6>
                    <ul>
                        <li *ngFor="let comment of hotelCommentList">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="../../../../assets/img/user.png" height="50" width="50" alt="User Logo">
                                </div>
                                <div class="col-md-8">
                                    <p><b>{{comment.User?comment.User.Name:'Unknown User'}}</b></p>
                                    <p>{{comment.CommentText}}</p>
                                </div>
                            </div>
                            <ul>
                                <li *ngFor="let comment of comment.Comments">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="../../../../assets/img/user.png" height="50" width="50"
                                                alt="User Logo">
                                        </div>
                                        <div class="col-md-8">
                                            <p><b>{{comment.User?comment.User.Name:'Unknown User'}}</b></p>
                                            <p>{{comment.CommentText}}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <form (ngSubmit)="onReplyCommentSubmit(comment)" #form="ngForm">
                                            <input type="text" class="form-control" id="comment"
                                                [(ngModel)]="comment.ReplyText" name="comment" #comment="ngModel"
                                                placeholder="Reply a comment" />
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <form (ngSubmit)="onNewCommentSubmit(form)" #form="ngForm">
                                    <input type="text" class="form-control" id="comment"
                                        [(ngModel)]="newComment.CommentText" name="comment" #comment="ngModel"
                                        placeholder="Write a comment" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>